@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.about {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.about-container {
    display: flex;
    width: 77%;
    gap: 64px;
}

.about img {
    width: 410px;
}

h1 {
    text-align: right;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    border-bottom: 3px solid pink;
}

.about-text {
    font-family: "Jost", sans-serif;
    font-weight: 300;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    text-align: right;
}