.menu-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: red;
    height: 95px;
}

a {
    text-decoration: none;
}

button {
    border-radius: 20px;
    height: 32px;
    width: 130px;
}